---
import type { Pokemon } from '../../types';

import Ability from '../../components/pokemon/Ability.astro';

type Res = {
	count: number;
	next: string;
	previous: string | null;
	results: { name: string; url: string }[];
};

export const getStaticPaths = async () => {
	const { results } = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151').then(
		(res) => res.json() as Promise<Res>
	);
	const paths = results.map((result) => ({
		params: { name: result.name },
	}));

	return paths;
};

const { name } = Astro.params;

const pokemon = await fetch(`https://pokeapi.co/api/v2/pokemon/${name}`).then(
	(res) => res.json() as Promise<Pokemon>
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body class="w-full h-screen">
		<div class="flex flex-col h-full w-full items-center">
			<h1 class="font-bold text-2xl capitalize">{pokemon.name}</h1>
			<div class="flex flex-row h-full w-full">
				<div class="flex-1 bg-amber-400">
					<h2>Abilities</h2>
					{pokemon.abilities.map((ability) => <Ability ability={ability} />)}
				</div>
				<div class="flex-1 bg-green-500"></div>
			</div>
		</div>
	</body>
</html>
