---
import Sidebar from '../sidebar.astro';
import Footer from '../sections/Footer.astro';
---

<body class="w-screen h-screen relative z-50">
	<Sidebar />
	<div class="flex-1 md:mr-80 mr-0 -z-20">
		<slot />
	</div>
	<Footer />
</body>
