---
import Sidebar from '../sidebar.astro';
---

<body class="bg-white w-full h-screen">
	<!-- <Navbar /> -->
	<Sidebar />
	<div class="flex-1 md:mr-[min(33.3333333%,400px)] mr-0">
		<slot />
	</div>
</body>
