---
import UnderlinedRounded from '../UI/UnderlinedRounded.astro';
---

<div class="w-full">
	<div class="flex flex-row justify-center gap-7 w-full px-28 my-28 flex-wrap">
		<div class="flex flex-col w-auto mb-4">
			<h5 class="font-bold">LOREM IPSUM</h5>
			<span class="text-7xl font-bold">76%</span>
			<p class="font-bold text-2xl">
				<UnderlinedRounded class="after:bg-primary-orange after:bottom-[-80%]">
					Lorem Ipsum bla
				</UnderlinedRounded>
			</p>
			<!-- <div class="bg-primary-orange w-full rounded-full h-2 my-5 max-w-[230px]"></div> -->
		</div>
		<div class="flex flex-col w-auto mb-4">
			<h5 class="font-bold">LOREM IPSUM</h5>
			<span class="text-7xl font-bold">84%</span>
			<p class="font-bold text-2xl">
				<UnderlinedRounded class="after:bg-primary-orange after:bottom-[-80%]">
					Lorem Ipsum bla
				</UnderlinedRounded>
			</p>
		</div>
		<div class="flex flex-col w-auto mb-4">
			<h5 class="font-bold">LOREM IPSUM</h5>
			<span class="text-7xl font-bold">76%</span>
			<p class="font-bold text-2xl">
				<UnderlinedRounded class="after:bg-primary-orange after:bottom-[-80%]">
					Lorem Ipsum bla
				</UnderlinedRounded>
			</p>
		</div>
		<div class="flex flex-col w-auto mb-4">
			<h5 class="font-bold">LOREM IPSUM</h5>
			<span class="text-7xl font-bold">84%</span>
			<p class="font-bold text-2xl">
				<UnderlinedRounded class="after:bg-primary-orange after:bottom-[-80%]">
					Lorem Ipsum bla
				</UnderlinedRounded>
			</p>
		</div>
	</div>
</div>
