---
import ButtonChevron from '../UI/ButtonChevron.astro';
import Card from '../UI/Card.astro';
import Underlined from '../UI/UnderlinedMasked.astro';
---

<div class="bg-white w-full flex flex-col gap-6 h-full p-5">
	<h2 class="font-semibold">
		More about <Underlined class="after:bg-primary-green">SOUTHWORKS</Underlined>
	</h2>
	<Card class="bg-secondary-cream min-h-80 p-12 h-auto flex flex-col text-center items-center">
		<h4 class="font-bold">Join SOUTHWORKS</h4>
		<p class="text-center text-base">
			Lorem ipsum dolor sit amet, cons ectetuer. Ut wisi enim ad minim veniam, <span
				class="font-bold">quis nostrud</span
			> exerci tation
		</p>
		<ButtonChevron class="w-60">Customer stories</ButtonChevron>
	</Card>
	<div class="flex flex-col md:flex-wrap md:flex-row gap-5 h-auto">
		<Card
			class="bg-secondary-light-green min-h-80 md:flex-1 flex flex-col p-12 items-center h-auto w-full"
		>
			<h4 class="font-bold mb-6">Past projects</h4>
			<p class="text-center text-base">
				Lorem ipsum dolor sit amet, cons ectetuer. Ut wisi enim ad minim veniam, <span
					class="font-bold">quis nostrud</span
				> exerci tation
			</p>
			<ButtonChevron>Customer stories</ButtonChevron>
		</Card>
		<Card
			class="bg-secondary-rose min-h-80 md:flex-1 flex flex-col items-center p-12 h-auto w-full"
		>
			<h4 class="font-bold mb-6">Company Info</h4>
			<p class="text-center text-base">
				Lorem ipsum dolor sit amet, cons ectetuer. Ut wisi enim ad minim veniam, <span
					class="font-bold">quis nostrud</span
				> exerci tation
			</p>
			<ButtonChevron>Discover SOUTHWORKS</ButtonChevron>
		</Card>
	</div>

	<div class="flex flex-row w-full justify-center">
		<Card
			class="bg-learnMore bg-no-repeat bg-cover w-full flex-col flex items-start justify-center mt-12 md:mt-5 h-60 p-14"
		>
			<h4 class="w-1/3 min-w-[330px] font-semibold">
				Learn more about <span class="font-bold">SOUTHWORKS</span>
			</h4>
			<ButtonChevron class="w-60">Go to website</ButtonChevron>
		</Card>
	</div>
</div>
