---
import ButtonChevron from '../UI/ButtonChevron.astro';
import Card from '../UI/Card.astro';
---

<div class="bg-slate-500 w-full flex flex-col gap-6 h-full p-5">
	<Card class="bg-secondary-cream min-h-80 h-auto flex flex-col text-center items-center">
		<h4 class="font-bold">Join SOUTHWORKS</h4>
		<p class="text-center text-base">
			Lorem ipsum dolor sit amet, cons ectetuer. Ut wisi enim ad minim veniam, <span
				class="font-bold">quis nostrud</span
			> exerci tation
		</p>
		<ButtonChevron class="w-60">Customer stories</ButtonChevron>
	</Card>
	<div class="flex flex-col md:flex-row gap-5 h-auto">
		<Card
			class="bg-secondary-light-green min-h-80 md:w-1/2 flex flex-col items-center h-auto w-full"
		>
			<h4 class="font-bold mb-6">Past projects</h4>
			<p class="text-center text-base">
				Lorem ipsum dolor sit amet, cons ectetuer. Ut wisi enim ad minim veniam, <span
					class="font-bold">quis nostrud</span
				> exerci tation
			</p>
			<ButtonChevron>Customer stories</ButtonChevron>
		</Card>
		<Card class="bg-secondary-rose min-h-80 md:w-1/2 flex flex-col items-center h-auto w-full">
			<h4 class="font-bold mb-6">Company Info</h4>
			<p class="text-center text-base">
				Lorem ipsum dolor sit amet, cons ectetuer. Ut wisi enim ad minim veniam, <span
					class="font-bold">quis nostrud</span
				> exerci tation
			</p>
			<ButtonChevron>Discover SOUTHWORKS</ButtonChevron>
		</Card>
	</div>
</div>
