---
import ShadowCard from '../UI/ShadowCard.astro';

import Chip from './Chip.astro';
---

<div class="w-full">
	<div class="px-12 flex flex-col gap-7">
		<ShadowCard>
			<Chip class="bg-secondary-teal">Open positions</Chip>
			<p class="py-5 font-medium md:w-2/3 w-full">
				Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
				euismoerat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip
			</p>
		</ShadowCard>
		<ShadowCard>
			<Chip class="bg-primary-green">Active Projects</Chip>
			<p class="py-5 font-medium md:w-2/3 w-full">
				Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
				euismoerat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip
			</p>
		</ShadowCard>
		<ShadowCard>
			<Chip class="bg-secondary-red">Developers</Chip>
			<p class="py-5 font-medium md:w-2/3 w-full">
				Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
				euismoerat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip
			</p>
		</ShadowCard>
		<ShadowCard>
			<Chip class="bg-secondary-yellow">Opportunities</Chip>
			<p class="py-5 font-medium md:w-2/3 w-full">
				Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh
				euismoerat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip
			</p>
		</ShadowCard>
	</div>
</div>
