---
import type { SectionsType } from '../../sections';

const { section } = Astro.props as { section: SectionsType };

const Sect = 'children' in section ? section.children : section.component;
---

<div id={section.id}>
	{Sect && (Array.isArray(Sect) ? Sect.map((s) => <Astro.self section={s} />) : <Sect />)}
</div>
