---
import Layout from '../components/Layout/layout.astro';
import SectionGenerator from '../components/sections/SectionGenerator.astro';
import { Sections } from '../sections';
import '../base.css';
---

<html lang="en" class="scroll-smooth overflow-x-hidden">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Layout>
		{
			Sections.map((section) => {
				return <SectionGenerator section={section} />;
			})
		}
	</Layout>
</html>

<style is:global>
	html {
		font-family: Poppins;
	}
</style>
