---
// import { log } from "astro/dist/core/logger/core";
import Layout from '../components/Layout/layout.astro';
import PokeCard from '../components/pokeCard.astro';

type Res = {
	count: number;
	next: string;
	previous: string | null;
	results: { name: string; url: string }[];
};

const { results } = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151').then(
	(res) => res.json() as Promise<Res>
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Layout>
		<div>
			<button class="w-24 h-10 flex justify-center items-center bg-blue-500 p-4 m-4">
				<a href="/whoami">Whoami</a>
			</button>
			<h1>Astro</h1>
		</div>
		<div class="flex flex-wrap justify-center">
			{results.map((pokemon, idx) => <PokeCard pokemon={pokemon} id={idx} />)}
		</div>
	</Layout>
</html>
