---
import { Sections } from '../sections';

import SidebarGenerator from './sidebarGenerator.astro';
---

<div
	class="bg-dark-green bg-card-gradient md:block hidden fixed right-0 top-0 h-screen max-w-[400px] w-1/3"
>
	{Sections.map((s) => <SidebarGenerator section={s} />)}
</div>
