---
import { Sections } from '../sections';

import SidebarGenerator from './sidebarGenerator.astro';
---

<div class="bg-primary-light-gray z-10 fixed right-0 top-0 h-screen w-80 md:block hidden">
	{Sections.map((s) => <SidebarGenerator section={s} />)}
</div>
