---
import clsx from 'clsx';
const { class: className } = Astro.props;
const { default: innerHTML } = await import('../../../public/arrow.svg?raw');
---

<div class={clsx('w-10', className)}>
	<Fragment set:html={innerHTML} />
</div>
