---
import clsx from 'clsx';
const { class: className, color } = Astro.props;
const { default: innerHTML } = await import('../../../public/arrow.svg?raw');

const myColor = color || '#fc4c02';
---

<div class={clsx('w-auto', className)} id="arrow">
	<Fragment set:html={innerHTML} />
</div>

<style is:global define:vars={{ myColor }}>
	#arrow > svg > path {
		fill: var(--myColor);
	}
</style>
